@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "USNMaster.cshtml";
}
<section class="content">
    <div class="container">
		<table title="table containing New Amendments">
		  <tbody><tr>
			<td colspan="2" class="table_header">Updated Chapters</td>
		  </tr>
		  <tr class="table_header">
			<td style="width:36%">Chapter Name</td>
			<td style="width:64%">Details</td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_ch_protection_enq.html">Child Protection Enquiries - Section 47 Children Act 1989</a></p></td>
			<td><p>This chapter has been updated, it now includes a link to the  Child Protection Examinations Document (Royal Berkshire NHS Foundation Trust).</p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_ch_protection_conf.html">Child Protection Conferences</a></p></td>
			<td><p>This chapter has been updated to include information on Looked After Children who may be subject to child protection plans and child protection conferences.
			</p>
			  <p> This chapter has also been updated to note Law Society guidance ‘Attendance of Solicitors at Local Authority Children Act Meetings’  and the ‘Related Code of Conduct (2011)’   where the child or family who attend reviews are supported by a legal representative.</p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_alleg_against_staff.html">Management of Allegations Against Staff and Volunteers Who Work with Children and Young People</a></p></td>
			<td><p>This chapter has been significantly updated  and should be read in its entirety. </p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_ch_sexual_exploit.html">Child Sexual Exploitation</a></p></td>
			<td><p>A link to the Child Sexual Exploitation (CSE) Indicator Tool has been added.</p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_ch_miss_care_home_ed.html">Children Missing from Care, Home and Education</a></p></td>
			<td><p>This chapter has been reviewed and updated. The chapter now includes new information regarding  the Independent Return Review whereby the interview should be carried out within 72 hours of the child returning to their home or care setting. This should be an in-depth interview and is normally best carried out by an independent person (i.e. someone not involved in caring for the child) who is trained to carry out these interviews and is able to follow-up any actions that emerge. Also a link to the Missing Children: Who Cares? The police response to missing and absent children (HMIC, March 2016) guidance was added to the statutory guidance section of this chapter. </p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_ch_visit_prison.html">Children Visiting Prisons</a></p></td>
			<td><p>This chapter has been  updated in line with the ‘Staying in touch with someone in prison’ Guidance. See Section 3, Contact Requests for more information.</p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_dom_viol_abuse.html">Domestic Violence and Abuse</a></p></td>
			<td><p>This chapter has been updated  to include the 'Violence Against Women and Girls Strategy 2016 to 2020 (Home Office, 2016), and the 'Information Guide: Adolescent to Parent Violence and Abuse (APVA)'. Text has been added in Section 6, Issues, in the paragraph about 'risk assessment tools and their use'.</p></td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_fem_gen_mutil.html">Female Genital Mutilation</a></p></td>
			<td><p>A link to the DoH Female Genital Mutilation Risk and Safeguarding Guidance for Professionals has been added.</p></td>
		  </tr>
		  <tr>
			<td colspan="2" class="table_header">New Chapters and Features</td>
		  </tr>
		  <tr class="table_header">
			<td>Chapter Name</td>
			<td>Details</td>
		  </tr>
		  <tr>
			<td class="table_row_even"><p><a href="p_pre_birth.html">Pre-Birth</a></p></td>
			<td><p>This chapter has been added to the manual.
			  </p>
			  <p>&nbsp;</p></td>
		  </tr>
		</tbody></table>
	</div>
</section>			  
