@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Procedures_CoreProceduresItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "USNMaster.cshtml";
}
<div class="container">
	
	@Umbraco.Field("itemContent")

</div>