@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<p class="lastUpdated">
    Page updated on:
    @Model.Content.UpdateDate.ToString("dd.MM.yyyy")
    at:
    @Model.Content.UpdateDate.ToString("HH.mm")
</p>